<!DOCTYPE html>
<h1>Thank You For Choosing Fwitter</h1>
<br>
<h3>Create Your Account Here</h3>
<br>
<form method="post" action="/signup">
<p>Username:<input type="text" name="username"></p>
<p>E-mail:<input type="text" name="email"></p>
<p>Password:<input type="text" name="password"></p>
<input type="submit" id="submit" value="Sign Up">

 </form>