<!DOCTYPE html>
<h1>Thank You For Choosing Fwitter</h1>
<br>
<h3>Create Your Account Here</h3>
<br>
<form action="/signup" method="post" >
Username:<input type="text" name="username">
E-mail:<input type="text" name="email">
Password:<input type="text" name="password">
<input type="submit" value="Sign Up">

 </form>