<!DOCTYPE html>

<h1>Start tweeting!</h1>

<form method="post" action="/login">
<p>Username:<input type="text" name="username"></p>
<p>Password:<input type="text" name="password"></p>
<input type="submit" id="submit" value="Log In">
</form>

<h1>look at this tweet</h1>